* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-face-gm {
  font-family: 'Fleshandblood';
}

body {
  font-family: 'Fleshandblood';
  display: flex;
  justify-content: center;
  background-color: rgb(15, 15, 15);
}

.trophy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-family: 'Fleshandblood';
  color: red;
  background-color: black;
  padding: 5px;
}

input {
  font-family: 'Fleshandblood';
}

.body-container {
  display: flex;
  justify-content: center;
}

.header {
  height: 100px;
  width: 100vw;
  background-color: black;
  color: #b9bfbd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  border-bottom: solid 1px white;
  margin-bottom: 2px;
}

.nav-list {
  display: flex;
  align-items: center;
}

li {
  margin: 5px;
  list-style: none;
}

.link {
  text-decoration: none;
  color: #695c49;
}

.img-1 {
  position: relative;
  right: 5px;
  top: 5px;
}

.trophy-title {
  position: relative;
  left: 90px;
  top: -50px;
  width: 300px;
  text-align: center;
  border-bottom: solid 1px white;
}

.trophy-description {
  position: relative;
  left: 80px;
  top: -30px;
  width: 300px;
  text-align: center;
  width: 250px;
  text-align: center;
}

.direction-text {
  width: 200px;
}

.trophy-direction {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  line-height: 20px;
}

.trophy-btn-img {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trophy-text {
  width: 45%;
}

.trophy-img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trophy-img {
  height: 45px;
  width: 40px;
  margin-bottom: 30px;
}

.card-img {
  height: 60px;
  margin-left: 10px;
  background-color: rgb(99, 98, 98);
}

p {
  font-size: 14px;
}

h4 {
  color: yellow;
}

.trophy-card {
  width: 80vw;
  height: 175px;
  display: flex;
  align-items: center;
  justify-items: center;
  color: #eee4d5;
  margin-bottom: 5px;
}

@media screen and (max-width: 900px) {
  .trophy-card {
    height: 350px;
    width: 98vw;
    padding: 8px;
    flex-direction: column;
  }

  .trophy-title {
    position: relative;
    left: 100px;
    top: -50px;
    width: 200px;
    text-align: center;
    border-bottom: solid 1px white;
  }

  .trophy-text {
    width: 100%;
  }

  .trophy-direction {
    width: 98vw;
  }

  .trophy-btn-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    bottom: -20px;
  }
}

.completed-btn:active {
  transform: scale(0.9);
  background-color: darkblue;
}

.card-one {
  background-color: #272c30;
}

.card-two {
  background-color: black;
}

.login-register-body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.login-register-container {
  display: flex;
  justify-content: center;
  height: 400px;
  width: 350px;
  background-color: white;
}

.login-register-form {
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-register-input {
  margin: 20px;
  width: 200px;
  border: none;
  border-bottom: solid 1px;
  outline: none;
}

.login-register-submit {
  margin: 10px;
}

.logged-in-toggle {
  display: none;
}

.logged-out-btn {
  color: red;
  background-color: black;
  padding: 5px;
}
